:root {
    --swiper-theme-color: #007aff;
  --stories-slider-z-shadows: 999;
  --stories-slider-z-pagination: 50;
  --stories-slider-z-navigation: 200;
  --stories-slider-z-user: 300;
  --stories-slider-z-actions: 300;
  --stories-slider-z-content: 100;
  --stories-slider-slide-bg-color: #000;
}
.stories-slider {
  padding-top: 44px;
  padding-bottom: 44px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.stories-slider
  > .swiper
  > .swiper-wrapper
  > .swiper-slide:not(
    .swiper-slide-next,
    .swiper-slide-prev,
    .swiper-slide-active
  ) {
  opacity: 0;
}
.stories-slider
  > .swiper
  > .swiper-wrapper
  > .swiper-slide-next
  + .swiper-slide {
  opacity: 1;
}
.stories-slider .swiper {
  height: 100%;
  width: 100%;
}
.stories-slider .swiper .swiper .swiper-slide {
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--stories-slider-slide-bg-color);
}
.stories-slider .swiper .swiper-slide-shadow-left,
.stories-slider .swiper .swiper-slide-shadow-right {
  z-index: var(--stories-slider-z-shadows) !important;
}
.stories-slider .swiper .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, #000, rgba(0, 0, 0, 0.5));
}
.stories-slider .swiper .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0.5));
}
.stories-slider.stories-slider-perspective .swiper .swiper,
.stories-slider.stories-slider-perspective .swiper-slide-shadow-left,
.stories-slider.stories-slider-perspective .swiper-slide-shadow-right {
  transform: translate3d(0, 0, calc(-1 * var(--swiper-cube-translate-z)));
  transform-origin: 0% 0% calc(-1 * var(--swiper-cube-translate-z));
}
.stories-slider-button {
  position: absolute;
  z-index: var(--stories-slider-z-navigation);
  top: 0;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
}
.stories-slider-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-duration: 0.2s;
}
.stories-slider-button:active::before {
  opacity: 0.25;
}
.stories-slider-button-prev {
  left: 0;
  width: 30%;
}
.stories-slider-button-prev::before {
  background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
}
.stories-slider-button-next {
  right: 0;
  width: 70%;
}
.stories-slider-button-next::before {
  background-image: linear-gradient(to left, #000, rgba(0, 0, 0, 0));
}
.stories-slider-pagination {
  position: absolute;
  left: 8px;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: space-between;
  z-index: var(--stories-slider-z-pagination);
  pointer-events: none;
  transform: translate3d(0, 0, 0);
}
.stories-slider-pagination-bullet {
  width: 100%;
  flex-shrink: 10;
  border-radius: 999px;
  height: 2px;
  background: rgba(255, 255, 255, 0.35);
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35);
}
.stories-slider-pagination-bullet span {
  position: absolute;
  background: #fff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  transform: translateX(-100%);
  transition-timing-function: linear;
}
.stories-slider-pagination-bullet-viewed span {
  transform: translateX(0%);
  transition-duration: 0s !important;
}
.stories-slider-pagination-bullet + .stories-slider-pagination-bullet {
  margin-left: 2px;
}
.stories-slider-user a,
a.stories-slider-user {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  transition-duration: 0.2s;
}
.stories-slider-user a:active,
a.stories-slider-user:active {
  opacity: 0.55;
}
.stories-slider-user {
  display: flex;
  align-items: center;
  position: absolute;
  top: 18px;
  left: 12px;
  height: 32px;
  z-index: var(--stories-slider-z-user);
  color: #fff;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}
.stories-slider-user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 12px;
}
.stories-slider-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.stories-slider-user-name {
  font-size: 14px;
  font-weight: 700;
  margin-right: 12px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}
.stories-slider-user-date {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.55;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}
.stories-slider-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 10px;
  top: 18px;
  height: 32px;
  z-index: var(--stories-slider-z-actions);
  transition-duration: 0.2s;
  user-select: none;
  -webkit-user-select: none;
}
.stories-slider-close-button {
  margin-left: 18px;
  width: 22px;
  height: 22px;
  appearance: none;
  border: none;
  outline: 0;
  box-shadow: none;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0;
  background: 0 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}
.stories-slider-close-button::after,
.stories-slider-close-button::before {
  content: "";
  width: 125%;
  height: 2px;
  background: #fff;
  border-radius: 999px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35);
}
.stories-slider-close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.stories-slider-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.stories-slider-close-button:active {
  opacity: 0.55;
}
.stories-slider-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: var(--stories-slider-z-content);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
}
.stories-slider-content > img,
.stories-slider-content > video {
  width: 100%;
  height: 100%;
  object-position: center;
  display: block;
  border: none;
  outline: 0;
  background: 0 0;
  background-color: transparent;
}
.stories-slider-content > img {
  object-fit: cover;
}
.stories-slider-content > video {
  object-fit: contain;
}

/*  */
/*  */
/*  */

.swiper,
swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide,
swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}
/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-centered.swiper-horizontal
  > .swiper-wrapper
  > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}
@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.swiper-cube {
  overflow: visible;
}
.swiper-cube .swiper-slide {
  pointer-events: none;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0;
}
.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-prev,
.swiper-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-cube .swiper-slide-shadow-top,
.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right {
  z-index: 0;
  backface-visibility: hidden;
}
.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}
.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-filter: blur(50px);
  filter: blur(50px);
}



.stories-slider {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: scale(0);
  transform: translate3d(0, 0, 0) scale(0.5);
  opacity: 0;
  background: #000;
}
@media (min-width: 415px), (min-height: 897px) {
  .stories-slider {
    background: rgb(41, 40, 49);
  }
}
.stories-slider > .swiper {
  z-index: 2;
  max-width: 414px;
  max-height: 896px;
}
.stories-slider:not(.stories-slider-in) {
  pointer-events: none;
}
.stories-slider:not(.stories-slider-in) * {
  pointer-events: none !important;
}
.stories-slider-in {
  animation: stories-slider-in 400ms forwards;
  pointer-events: auto;
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}
.stories-slider-out {
  pointer-events: none;
  animation: stories-slider-out 400ms forwards !important;
}
@keyframes stories-slider-in {
  0% {
    transform: translate3d(0, 0, 0) scale(0.5);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 0, 0) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}
@keyframes stories-slider-out {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate3d(0, 0, 0) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(0.5);
    opacity: 0;
  }
}
